* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* shared section */

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    width: 35%;
    padding-bottom: 20px;
}

.btn {
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    background-color: #E55473;
    color: #fff;
    font-weight: 800;
}

.color {
    color: #E55473;
}

/* header section */

header {
    background-color: #E554730D;
    height: 100vh;
    background-image: url(../assets/pngwing\ 10.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80% 100%;
}

.header-container {
    color: #272727;
    font-size: 25px;
    padding: 120px 0px 0px 200px;
}

.header-title {
    color: #272727;
    font-size: 50px;
    padding-bottom: 20px;
}

/* sales section */

.sales-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E554730D;
    padding: 100px 300px;
}

.sales-title {
    color: #272727;
    font-size: 20px;
    padding-bottom: 10px;
}

.sales-img {
    width: 30%;
    height: 30%;
}

.salesd {
    width: 80%;
    padding-bottom: 10px;
    font-size: 15px;
}

.btn1 {
    padding: 10px 20px;
}

/* social section */

.info {
    text-align: center;
    padding: 180px 0px 20px;
}

.social-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.social-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 50%;
    margin: auto;
    padding: 40px;
}

.pics {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 85%;
    margin: auto;

}

.ppics {
    width: 20%;
    box-shadow: 0px 0px 4px gray;
}

/* email section */

.email-container {
    background-image: url(../assets/Rectangle\ 9.png);
    background-position: center;
    background-size: cover;
    width: 960px;
    height: 350px;
    margin: 100px auto;
    display: flex;
    text-align: center;
    align-items: center;
}

.emailemail {
    margin: auto;
}

.email-title {
    color: #272727;
    font-size: 40px;
}

.email-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.email-box {
    padding: 15px 15px;
    width: 500px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

/* footer section */
footer {
    background-color: #000;
    color: #fff;
    height: 40vh;
    display: flex;
    align-items: center;
}

.footer-container {
    margin: auto;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 20px;
}

.footer-description1 {
    color: rgba(255, 255, 255, 0.90);
    width: 65%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: auto;
    padding-bottom: 20px;
}

.footer-description2 {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}